body {
    width: 600px;
    margin-left: auto !important;
    margin-right: auto !important;
}

button {
    width: 30%;
}

.container1 {
    width:560px;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.square {
    width: 100px;
    height: 100px;
    border:1px solid red;
    margin:5px
    
}

.green {
    background: green;
}

.black {
    background: black;
}